@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 2em;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2 {
    margin: 40px 0;
    font-weight: 500;
}